.filter-container{

    display:flex;

    flex-direction:column;

    align-items:center;

    margin:40px 0;
}

.filter-title{

    color:#FFD000;

    font-size:28px;

    margin-bottom:20px;
}

.filter-buttons button{

    background:#0B1F4D;

    color:white;

    border:2px solid #1E88E5;

    border-radius:25px;

    padding:12px 20px;

    cursor:pointer;

    transition:.3s;

    font-size:16px;

    font-weight:bold;
}

.filter-buttons button:hover{

    background:#1565C0;

    transform:translateY(-3px);
}

.active{

    background:#FFD000 !important;

    color:#0B1F4D !important;

    border-color:#FFD000 !important;
}